<div class="page-header" xmlns="http://www.w3.org/1999/html">
    <h2><i class="fa fa-bell"></i> Cuves en alertes</h2>
</div>
<div>
    <div>
        <div ng-repeat="tank in tanks">
            <div>
                <div>
                    <h4>
                        <a class="black" href="/#/station?stationId={{tank.station_name}}"><i class="fa fa-filter"></i>
                        {{tank.station_name|uppercase}} {{tank.name}}
                        </a>
                    </h4>
                </div>
                <div class="progress">
                    <div class="progress-bar {{tank.percent | progresscolor}}" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{tank.percent}}%">
                        <span>{{tank.percent}}%</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--
href="/#/station?stationId={{tank.id}}"-->